@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="col-12 col-md-10 mx-auto my-auto">
    <div class="card auth-card">
        <div class="position-relative image-side ">

            <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>

            <p class="white mb-0">
                Please use your credentials to login.
                <br>If you are not a member, please
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="white">register</a>.
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>

            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
        <div class="form-side">
            <a href="Dashboard.Default.html">
                <span class="logo-single"></span>
            </a>
            <h6 class="mb-4">Login</h6>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Input.Email" class="form-group has-float-label mb-4">
                    <input asp-for="Input.Email" class="form-control" />
                    <span>Email</span>
                </label>

                <label asp-for="Input.Password" class="form-group has-float-label mb-4">
                    <input asp-for="Input.Password" class="form-control" type="password" placeholder="" />
                    <span>Password</span>
                </label>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forget password?</a>
                    <button class="btn btn-primary btn-lg btn-shadow" type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
